body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(mur-bois-ascenseurs-floues.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    
}
.container {
    width: 60%;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
h2 {
    margin-bottom: 15px;
    color: #333;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],

input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(15, 63, 196);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #040d41e8;
}
h3 {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

.Comptes{
    text-align: center;
    border: 1px solid #ffffff ;
    color: white;
}

