body{
    display: flex;
    flex-direction: column;
    background-image: url(mur-bois-ascenseurs-floues.jpg);
    background-size: cover;
    background-repeat: 1;
    color: black;


}



/* Styliser les inputs de type date */

.room{
    display: flex;
    justify-content: center;
    margin: 50px;
    
}
.form{
    margin: 5px;
    padding: 50px ;
    
}


input[type="date"] {
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0;
    padding: 8px;
    margin-left: 50px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    background-color: #0f62cf;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #0848be;
  }



